.text-brand[data-v-27846bc4] {
   color: #2f3f60 !important;
}
.text-brand-inverse[data-v-27846bc4],
[data-bs-theme='dark'] .text-brand[data-v-27846bc4] {
   color: rgba(var(--bs-warning-rgb)) !important;
}
[data-bs-theme='dark'] .text-brand-inverse[data-v-27846bc4] {
   color: #2f3f60 !important;
}
h2[data-v-27846bc4] {
   font-size: 1.5rem;
}
.fa-stack[data-v-27846bc4] {
   vertical-align: middle;
}
picture[data-v-6750d592] {
   width: 100%;
}
img[data-v-6750d592] {
   height: 100%;
}
img.stretch-image[data-v-6750d592] {
   width: inherit;
}
