.odb-payment-systems[data-v-44b21ea8] {
   height: 1rem;
}
.info-block-enter-active[data-v-30f4c450],
.info-block-leave-active[data-v-30f4c450] {
   transition-duration: 0.3s;
   transition-property: height, opacity;
   transition-timing-function: ease;
   overflow: hidden;
}
.info-block-enter[data-v-30f4c450],
.info-block-leave-to[data-v-30f4c450] {
   opacity: 0;
}
input[data-v-5be4fb7e]::-webkit-inner-spin-button,
input[data-v-5be4fb7e]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type='number'][data-v-5be4fb7e] {
   -moz-appearance: textfield;
}
