.purchase-button .fa-layers .svg-inline--fa[data-v-60dfc5d2],
.purchase-button .fa-layers i.far[data-v-60dfc5d2] {
   transition: all 0.25s ease-out;
}
.purchase-button .fa-layers .svg-inline--fa[data-v-60dfc5d2]:first-of-type,
.purchase-button .fa-layers i.far[data-v-60dfc5d2]:first-of-type {
   transform: scale(0.5);
   opacity: 0;
}
.purchase-button .fa-layers.active .svg-inline--fa[data-v-60dfc5d2]:first-of-type,
.purchase-button .fa-layers.active i.far[data-v-60dfc5d2]:first-of-type,
.purchase-button .fa-layers .svg-inline--fa[data-v-60dfc5d2]:last-of-type,
.purchase-button .fa-layers i.far[data-v-60dfc5d2]:last-of-type {
   transform: scale(1);
   opacity: 1;
}
.purchase-button .fa-layers.active .svg-inline--fa[data-v-60dfc5d2]:last-of-type,
.purchase-button .fa-layers.active i.far[data-v-60dfc5d2]:last-of-type {
   transform: scale(0.5);
   opacity: 0;
}
form[data-v-60dfc5d2] {
   max-width: 650px;
}
.text-brand[data-v-60dfc5d2] {
   color: #2f3f60 !important;
}
.text-brand-inverse[data-v-60dfc5d2],
[data-bs-theme='dark'] .text-brand[data-v-60dfc5d2] {
   color: rgba(var(--bs-warning-rgb)) !important;
}
[data-bs-theme='dark'] .text-brand-inverse[data-v-60dfc5d2] {
   color: #2f3f60 !important;
}
.fa-stack[data-v-60dfc5d2] {
   vertical-align: middle;
}
.fa-spin[data-v-60dfc5d2] {
   animation-duration: 0.75s;
}
.text-brand[data-v-27846bc4] {
   color: #2f3f60 !important;
}
.text-brand-inverse[data-v-27846bc4],
[data-bs-theme='dark'] .text-brand[data-v-27846bc4] {
   color: rgba(var(--bs-warning-rgb)) !important;
}
[data-bs-theme='dark'] .text-brand-inverse[data-v-27846bc4] {
   color: #2f3f60 !important;
}
h2[data-v-27846bc4] {
   font-size: 1.5rem;
}
.fa-stack[data-v-27846bc4] {
   vertical-align: middle;
}
picture[data-v-6750d592] {
   width: 100%;
}
img[data-v-6750d592] {
   height: 100%;
}
img.stretch-image[data-v-6750d592] {
   width: inherit;
}
p[data-v-13828c78]:last-child {
   margin-bottom: 0;
}
