.fa-fire-flame-curved .fa-primary[data-v-29990ee2] {
   animation: burn-data-v-29990ee2 2s infinite alternate;
}
.fa-fire-flame-curved .fa-secondary[data-v-29990ee2] {
   animation: burn-data-v-29990ee2 2.5s infinite alternate;
}
@keyframes burn-data-v-29990ee2 {
   0% {
      opacity: 1;
      transform-origin: 50% 50%;
      transform: scale(1.01);
   }
   to {
      opacity: 0.7;
      transform-origin: 50% 50%;
      transform: scale(0.95);
   }
}
.card[data-v-29990ee2] {
   min-width: 12rem;
   transition: box-shadow 0.125s;
}
.card.bg-danger[data-v-29990ee2]:hover {
   box-shadow: 0 0.5rem 1rem rgba(128, 0, 0, 0.35) !important;
}
.card.bg-danger:hover .zoom-in[data-v-29990ee2] {
   animation: zoom-in-data-v-29990ee2 15s forwards;
   transform-origin: 0 20%;
}
@keyframes zoom-in-data-v-29990ee2 {
   to {
      transform: scale(1.25);
   }
}
.bg-light-blue[data-v-27d32b5b] {
   background-color: #e9eede;
}
.bg-light-indigo[data-v-27d32b5b] {
   background-color: #eeeadd;
}
.bg-light-purple[data-v-27d32b5b] {
   background-color: #eeecdb;
}
.bg-light-red[data-v-27d32b5b] {
   background-color: #f4ebd4;
}
.bg-light-orange[data-v-27d32b5b] {
   background-color: #f5efd2;
}
.bg-light-yellow[data-v-27d32b5b] {
   background-color: #f6f2d1;
}
.bg-light-green[data-v-27d32b5b] {
   background-color: #eaf0d5;
}
.bg-light-cyan[data-v-27d32b5b] {
   background-color: #e9f3dd;
}
.bg-light-gray[data-v-27d32b5b] {
   background-color: #f1f2da;
}
.bg-light-black[data-v-27d32b5b] {
   background-color: #e9e9d1;
}
[data-bs-theme='dark'] .bg-light-blue[data-v-27d32b5b] {
   background-color: #28487f;
}
[data-bs-theme='dark'] .bg-light-indigo[data-v-27d32b5b] {
   background-color: #3a367d;
}
[data-bs-theme='dark'] .bg-light-purple[data-v-27d32b5b] {
   background-color: #3c4073;
}
[data-bs-theme='dark'] .bg-light-red[data-v-27d32b5b] {
   background-color: #523d5b;
}
[data-bs-theme='dark'] .bg-light-orange[data-v-27d32b5b] {
   background-color: #584c51;
}
[data-bs-theme='dark'] .bg-light-yellow[data-v-27d32b5b] {
   background-color: #59594e;
}
[data-bs-theme='dark'] .bg-light-green[data-v-27d32b5b] {
   background-color: #2b4d5e;
}
[data-bs-theme='dark'] .bg-light-cyan[data-v-27d32b5b] {
   background-color: #285b7d;
}
[data-bs-theme='dark'] .bg-light-gray[data-v-27d32b5b] {
   background-color: #485773;
}
[data-bs-theme='dark'] .bg-light-black[data-v-27d32b5b] {
   background-color: #26324d;
}
.scale-0[data-v-27d32b5b] {
   animation: anim-scale-0-data-v-27d32b5b 0.5s ease-out 0s forwards;
}
@keyframes anim-scale-0-data-v-27d32b5b {
   0% {
      opacity: 0.5;
      transform: scale(1.02);
   }
   to {
      opacity: 1;
      transform: scale(0.9);
   }
}
.scale-1[data-v-27d32b5b] {
   animation: anim-scale-1-data-v-27d32b5b 0.5s ease-out 0s forwards;
}
@keyframes anim-scale-1-data-v-27d32b5b {
   0% {
      opacity: 0.5;
      transform: scale(1.02);
   }
   to {
      opacity: 1;
      transform: scale(0.92);
   }
}
.scale-2[data-v-27d32b5b] {
   animation: anim-scale-2-data-v-27d32b5b 0.5s ease-out 0s forwards;
}
@keyframes anim-scale-2-data-v-27d32b5b {
   0% {
      opacity: 0.5;
      transform: scale(1.02);
   }
   to {
      opacity: 1;
      transform: scale(0.94);
   }
}
.scale-3[data-v-27d32b5b] {
   animation: anim-scale-3-data-v-27d32b5b 0.5s ease-out 0s forwards;
}
@keyframes anim-scale-3-data-v-27d32b5b {
   0% {
      opacity: 0.5;
      transform: scale(1.02);
   }
   to {
      opacity: 1;
      transform: scale(0.96);
   }
}
.scale-4[data-v-27d32b5b] {
   animation: anim-scale-4-data-v-27d32b5b 0.5s ease-out 0s forwards;
}
@keyframes anim-scale-4-data-v-27d32b5b {
   0% {
      opacity: 0.5;
      transform: scale(1.02);
   }
   to {
      opacity: 1;
      transform: scale(0.98);
   }
}
.scale-5[data-v-27d32b5b] {
   animation: anim-scale-5-data-v-27d32b5b 0.5s ease-out 0s forwards;
}
@keyframes anim-scale-5-data-v-27d32b5b {
   0% {
      opacity: 0.5;
      transform: scale(1.02);
   }
   to {
      opacity: 1;
      transform: scale(1);
   }
}
.card span.tag[data-v-27d32b5b] {
   position: absolute;
   left: 50%;
   transition: transform 0.25s, opacity 0.25s;
   transform: translate(-50%);
   opacity: 0;
}
.card:hover span.tag[data-v-27d32b5b] {
   transform: translate(-50%, 0.5rem);
   opacity: 0.85;
}
.card[data-v-27d32b5b] {
   min-width: 12rem;
   transition: box-shadow 0.125s;
}
.card .card-img-top[data-v-27d32b5b] {
   min-width: 24rem;
}
.card[data-v-27d32b5b]:hover {
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.card:hover .zoom-in[data-v-27d32b5b] {
   animation: zoom-in-data-v-27d32b5b 15s forwards;
}
@keyframes zoom-in-data-v-27d32b5b {
   to {
      transform: scale(1.25);
   }
}
picture[data-v-6750d592] {
   width: 100%;
}
img[data-v-6750d592] {
   height: 100%;
}
img.stretch-image[data-v-6750d592] {
   width: inherit;
}
body[data-v-0cec507c] {
   background-color: #f8f9fa;
}
p.lead[data-v-0cec507c] {
   font-weight: 500;
}
.fw-black[data-v-0cec507c] {
   font-weight: 800;
}
.bg-light-blue[data-v-0cec507c] {
   background-color: #e9eede;
}
.bg-light-indigo[data-v-0cec507c] {
   background-color: #eeeadd;
}
.bg-light-purple[data-v-0cec507c] {
   background-color: #eeecdb;
}
.bg-light-red[data-v-0cec507c] {
   background-color: #f4ebd4;
}
.bg-light-orange[data-v-0cec507c] {
   background-color: #f5efd2;
}
.bg-light-yellow[data-v-0cec507c] {
   background-color: #f6f2d1;
}
.bg-light-green[data-v-0cec507c] {
   background-color: #eaf0d5;
}
.bg-light-cyan[data-v-0cec507c] {
   background-color: #e9f3dd;
}
.bg-light-gray[data-v-0cec507c] {
   background-color: #f1f2da;
}
.bg-light-black[data-v-0cec507c] {
   background-color: #e9e9d1;
}
[data-bs-theme='dark'] .bg-light-blue[data-v-0cec507c] {
   background-color: #5780b7;
}
[data-bs-theme='dark'] .bg-light-indigo[data-v-0cec507c] {
   background-color: #7264b4;
}
[data-bs-theme='dark'] .bg-light-purple[data-v-0cec507c] {
   background-color: #7573a5;
}
[data-bs-theme='dark'] .bg-light-red[data-v-0cec507c] {
   background-color: #956f80;
}
[data-bs-theme='dark'] .bg-light-orange[data-v-0cec507c] {
   background-color: #9f8571;
}
[data-bs-theme='dark'] .bg-light-yellow[data-v-0cec507c] {
   background-color: #a0996d;
}
[data-bs-theme='dark'] .bg-light-green[data-v-0cec507c] {
   background-color: #5b8884;
}
[data-bs-theme='dark'] .bg-light-cyan[data-v-0cec507c] {
   background-color: #579cb3;
}
[data-bs-theme='dark'] .bg-light-gray[data-v-0cec507c] {
   background-color: #8796a4;
}
[data-bs-theme='dark'] .bg-light-black[data-v-0cec507c] {
   background-color: #535f6b;
}
.scale-0[data-v-0cec507c] {
   animation: anim-scale-0-data-v-0cec507c 0.5s ease-out 0s forwards;
}
@keyframes anim-scale-0-data-v-0cec507c {
   0% {
      opacity: 0.5;
      transform: scale(1.02);
   }
   to {
      opacity: 1;
      transform: scale(0.9);
   }
}
.scale-1[data-v-0cec507c] {
   animation: anim-scale-1-data-v-0cec507c 0.5s ease-out 0s forwards;
}
@keyframes anim-scale-1-data-v-0cec507c {
   0% {
      opacity: 0.5;
      transform: scale(1.02);
   }
   to {
      opacity: 1;
      transform: scale(0.92);
   }
}
.scale-2[data-v-0cec507c] {
   animation: anim-scale-2-data-v-0cec507c 0.5s ease-out 0s forwards;
}
@keyframes anim-scale-2-data-v-0cec507c {
   0% {
      opacity: 0.5;
      transform: scale(1.02);
   }
   to {
      opacity: 1;
      transform: scale(0.94);
   }
}
.scale-3[data-v-0cec507c] {
   animation: anim-scale-3-data-v-0cec507c 0.5s ease-out 0s forwards;
}
@keyframes anim-scale-3-data-v-0cec507c {
   0% {
      opacity: 0.5;
      transform: scale(1.02);
   }
   to {
      opacity: 1;
      transform: scale(0.96);
   }
}
.scale-4[data-v-0cec507c] {
   animation: anim-scale-4-data-v-0cec507c 0.5s ease-out 0s forwards;
}
@keyframes anim-scale-4-data-v-0cec507c {
   0% {
      opacity: 0.5;
      transform: scale(1.02);
   }
   to {
      opacity: 1;
      transform: scale(0.98);
   }
}
.scale-5[data-v-0cec507c] {
   animation: anim-scale-5-data-v-0cec507c 0.5s ease-out 0s forwards;
}
@keyframes anim-scale-5-data-v-0cec507c {
   0% {
      opacity: 0.5;
      transform: scale(1.02);
   }
   to {
      opacity: 1;
      transform: scale(1);
   }
}
i.fad.fa-fire-alt[data-v-0cec507c]:after {
   animation: burn-data-v-0cec507c 2s infinite alternate;
}
i.fad.fa-fire-alt[data-v-0cec507c]:before {
   animation: burn-data-v-0cec507c 2.5s infinite alternate;
}
@keyframes burn-data-v-0cec507c {
   0% {
      opacity: 1;
      transform: scale(1.01);
   }
   to {
      opacity: 0.7;
      transform: scale(0.9);
   }
}
.card[data-v-0cec507c] {
   min-width: 12rem;
   transition: box-shadow 0.125s;
}
.card.bg-danger[data-v-0cec507c]:hover {
   box-shadow: 0 0.5rem 1rem rgba(128, 0, 0, 0.35) !important;
}
.card.bg-danger:hover .zoom-in[data-v-0cec507c] {
   animation: zoom-in-burn-data-v-0cec507c 15s forwards;
   transform-origin: 0 20%;
}
.card[data-v-0cec507c]:hover {
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.card:hover .zoom-in[data-v-0cec507c] {
   animation: zoom-in-data-v-0cec507c 15s forwards;
}
@keyframes zoom-in-data-v-0cec507c {
   to {
      transform: scale(1.25);
   }
}
@keyframes zoom-in-burn-data-v-0cec507c {
   to {
      transform: scale(1.25);
   }
}
span.tag a[data-v-0cec507c]:before {
   content: '#';
}
span span.tag[data-v-0cec507c] {
   position: absolute;
   left: 50%;
   transition: transform 0.25s, opacity 0.25s;
   transform: translate(-50%);
   opacity: 0;
}
span:hover span.tag[data-v-0cec507c] {
   transform: translate(-50%, 0.5rem);
   opacity: 0.85;
}
.fs-0[data-v-0cec507c] {
   font-size: calc(1.375rem + 4vw) !important;
}
[v-cloak][data-v-0cec507c] {
   display: none;
}
.card span.tag[data-v-3cdd2bfc] {
   position: absolute;
   left: 50%;
   transition: transform 0.25s, opacity 0.25s;
   transform: translate(-50%);
   opacity: 0;
}
.card:hover span.tag[data-v-3cdd2bfc] {
   transform: translate(-50%, 0.5rem);
   opacity: 0.85;
}
.card[data-v-3cdd2bfc] {
   min-width: 12rem;
   transition: box-shadow 0.125s;
}
.card[data-v-3cdd2bfc]:hover {
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.card:hover .zoom-in[data-v-3cdd2bfc] {
   animation: zoom-in-data-v-3cdd2bfc 15s forwards;
}
@keyframes zoom-in-data-v-3cdd2bfc {
   to {
      transform: scale(1.25);
   }
}
.fs-0[data-v-3cdd2bfc] {
   font-size: calc(1.375rem + 4vw) !important;
}
.fs-1[data-v-3cdd2bfc] {
   font-size: calc(1.375rem + 1.5vw) !important;
}
.fs-2[data-v-3cdd2bfc] {
   font-size: calc(1.325rem + 0.9vw) !important;
}
.fs-3[data-v-3cdd2bfc] {
   font-size: calc(1.3rem + 0.6vw) !important;
}
.fs-4[data-v-3cdd2bfc] {
   font-size: calc(1.275rem + 0.3vw) !important;
}
.fs-5[data-v-3cdd2bfc] {
   font-size: 1.25rem !important;
}
.fw-black[data-v-3cdd2bfc] {
   font-weight: 800;
}
.card span.tag[data-v-e32fbcc4] {
   position: absolute;
   left: 50%;
   transition: transform 0.25s, opacity 0.25s;
   transform: translate(-50%);
   opacity: 0;
}
.card:hover span.tag[data-v-e32fbcc4] {
   transform: translate(-50%, 0.5rem);
   opacity: 0.85;
}
.card[data-v-e32fbcc4] {
   min-width: 12rem;
   transition: box-shadow 0.125s;
}
.card[data-v-e32fbcc4]:hover {
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.card:hover .zoom-in[data-v-e32fbcc4] {
   animation: zoom-in-data-v-e32fbcc4 15s forwards;
}
@keyframes zoom-in-data-v-e32fbcc4 {
   to {
      transform: scale(1.25);
   }
}
.fs-0[data-v-e32fbcc4] {
   font-size: calc(1.375rem + 4vw) !important;
}
.fs-1[data-v-e32fbcc4] {
   font-size: calc(1.375rem + 1.5vw) !important;
}
.fs-2[data-v-e32fbcc4] {
   font-size: calc(1.325rem + 0.9vw) !important;
}
.fs-3[data-v-e32fbcc4] {
   font-size: calc(1.3rem + 0.6vw) !important;
}
.fs-4[data-v-e32fbcc4] {
   font-size: calc(1.275rem + 0.3vw) !important;
}
.fs-5[data-v-e32fbcc4] {
   font-size: 1.25rem !important;
}
.disabled .page-link[data-v-cc32c45c] {
   background-color: transparent;
   border-color: var(--bs-pagination-border-color);
}
